.span2
  .well.pool_info
    %h3 Pool info:
    %p.sub_head Color Breakdown
    -%w(White Blue Black Red Green Colorless).each do |color|
      %p= "#{color}: #{@pool_color.count(color)}"
    %p.sub_head Rarity Breakdown
    -["Mythic Rare", "Rare", "Uncommon", "Common"].each do |rarity|
      %p= "#{rarity.pluralize}: #{@pool_rarity.count(rarity)}"
    = button_to "New Pool",
      :url => pool_url,
      :update => 'pool',
      :release => params[:release],
      :packs => params[:packs],
      :remote => true
    %button{:type => 'button', :id => "color_sort", :class => 'btn'} Sort By Color
    %button{:type => 'button', :id => "rare_sort", :class => 'btn'} Sort By Rarity
.span10
  #pool
    -@pool.each do |card|
      -#-if @secret
        -#=image_tag "#{card.release.short_name.downcase}/111img.jpg"
      -else
        %div{:class =>"card color_#{card.lazy_color}", :rarity => "#{card.lazy_rarity}", :color => "#{card.lazy_color}"}
          .type_row
            %p.name= card.name
            %p.cost= card.cost
          .type_row
            %p.type= card.card_type
            %p.rarity= card.rarity
          %p= card.rules
          %p.pt= card.pow_tgh

