-@pool.each_with_index do |booster, i|
  .booster
    %h1{:id => "booster_#{i+1}"}= "Booster #{i+1}"
    -booster.each do |card|
      .card
        %p.name= card.name
        %p.cost= card.cost
        %p.type= card.card_type
        %p.rarity= card.rarity
        %p= card.rules
        %p= card.pow_tgh
