-@pool.each_with_index do |booster, i|
  %h1= "Booster #{i+1}"
  %div.booster
    -booster.each do |card|
      %div.card
        %p.name= card.name
        %p.cost= card.cost
        %p.type= card.card_type
        %p.rarity= card.rarity
        %p= card.rules
        %p= card.pow_tgh
