.span2
  .well.pool_info
    %h3 Pool info:
    %p.sub_head Color Breakdown
    -%w(White Blue Black Red Green Colorless).each do |color|
      %p= "#{color}: #{@pool_color.count(color)}"
    %p.sub_head Rarity Breakdown
    -["Mythic Rare", "Rare", "Uncommon", "Common"].each do |rarity|
      %p= "#{rarity.pluralize}: #{@pool_rarity.count(rarity)}"
.span10
  -@pool.each_with_index do |booster, i|
    .booster
      %h1{:id => "booster_#{i+1}"}= "Booster #{i+1}"
      -booster.each do |card|
        =image_tag "#{card.id}img.jpg"
        -#%div{:class =>"card color_#{card.lazy_color}"}
          -#.type_row
            -#%p.name= card.name
            -#%p.cost= card.cost
          -#.type_row
            -#%p.type= card.card_type
            -#%p.rarity= card.rarity
          -#%p= card.rules
          -#%p.pt= card.pow_tgh

