%div.span4
%div.span4
  %div.well.login_form
    = form_tag( :controller => "pool", :action => "card_pool", :method => 'get') do
      = label_tag(:release, "Card Pool:")
      = select_tag(:release, options_for_select(@releases))
      = label_tag(:packs, "Number of Packs:")
      = select_tag(:packs, options_for_select([4,6,8]))
      = submit_tag("Open")
%div.span4
